{% include base_path %}

<div class="site-footer">
  <div>
    <strong>Jingxi Lu</strong>
    <p>Safe learning and fault-tolerant control for legged and humanoid robots.</p>
  </div>
  <div class="site-footer__links" aria-label="Professional profiles">
    <span>{{ site.author.email }}</span>
    <a href="https://scholar.google.com/citations?hl=en&amp;user=UbDB6c4AAAAJ">Google Scholar</a>
    <a href="https://github.com/{{ site.author.github }}">GitHub</a>
    <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a>
  </div>
  <div class="site-footer__bottom">
    <p class="site-footer__copyright">&copy; {{ site.time | date: '%Y' }} Jingxi Lu</p>
    {% if page.url == "/" %}
      <a
        class="site-footer__visitors"
        href="https://info.flagcounter.com/ZV5Z"
        aria-label="View geographic visitor statistics">
        <img
          src="https://s01.flagcounter.com/map/ZV5Z/size_s/txt_64707A/border_DCE1E4/pageviews_1/viewers_3/flags_0/"
          width="400"
          height="205"
          alt="Map showing website visitor locations">
      </a>
    {% endif %}
  </div>
</div>
